*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;

}
.container
{
   max-width: 1000px;
    margin: 0 auto;
    
    

    
}
.center
{
    max-width: 650px;
    margin:0 auto ;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
    
}
span{
    font-size: small;
}
input ,select 
{
    height: 30px;
    width:200px;
}
.fc
{
    
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, 1fr));
    gap: 20px;

}

.from_control
{
    display: flex;
    flex-direction: column;
}
label
{
    font-size: small;
}
input:focus
{
    outline-color: blue;
    o
}

